<nav class="navbar navbar-default topnav" role="navigation">
  <div class="container topnav">
    <div class="navbar-header">
      <%= link_to root_url, id: 'logo', class: 'navbar-brand topnav' do %>
          <i class="fa fa-ticket"></i>
         Bookly
      <% end %>

      <a id="logo" class="navbar-brand topnav" href="http://localhost:3000/">
          <i class="fa fa-search"></i>
          Choose Seat
        </a>
    </div>
  </div>

</nav>
