<div class="row">
  <div class="large-3 columns">
    <h1><img src="https://cf.bstatic.com/static/img/bcom_logo_blue_bg/f12f834e849b2a7f752a14b2598a6ddfeda1e713.svg" /></h1>
  </div>
  <div class="large-9 columns">
    <ul class="button-group">
        <%= link_to "Home", root_path, class: "button" %>
        <a class="button" href="https://github.com/">Source Code</a>

    </ul>
  </div>
</div>
